body {
    text-align: center; /* Alineador del texto, para la posición */
    font-family: 'Times New Roman', Times, serif; /* Esta es la fuente del texto */
}

h1 {
    color: #333; /*Color del titulo */
}

img {
    display: block; /*Aqui muestra la imagen ocupando todo el ancho */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    animation: fadeIn 3s; /* El efecto de entrada */
}

@keyframes fadeIn { /* Aqui es como va accionar el efecto, llamandolo primero */
    from {
        opacity: 1; /* Imagen oculta (opacidad 0) */
    }
    to {
        opacity: 2; /* Luego es visible (opacidad 1) */
    }
}

button {
    display: block; /* Muestra los botones en línea, uno al lado del otro */
    margin: 20px; /* Añade un marco de 10 píxeles alrededor de cada botón */
    padding: 10px 20px; /* Añade un relleno interno de 10 píxeles en la parte superior e inferior, y 20 píxeles a la izquierda y derecha */
    background-color: #3e63a8; /* Color de fondo del botón */
    border: 2px solid hsl(222, 62%, 34%); /* Borde píxeleado  */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse por encima */
    position: relative; /* Permite posicionar elementos en relación a sus padres */
    font-family: 'Times New Roman', Times, serif; /*Otro formato de texto*/
}

button p {
    position: absolute; /* Posiciona el texto del concepto de forma absoluta dentro del botón */
    top: 100%; /* Coloca el texto justo debajo del botón */
    left: 0; /* Centra el texto horizontalmente */
    width: 70%; /*El tamaño del texto en cuanto a lo ancho del boton*/
    opacity: 0; /* Inicialmente el texto está oculto (opacidad 0) */
    transition: opacity 0.3s ease-in-out; /* Aplica una transición suave al cambiar la opacidad */
}

button:hover p {
    opacity: 2; /* Al pasar el mouse por encima del botón, muestra el texto (opacidad 1) */
}
button.active p {
    opacity: 1; /* Muestra el texto cuando el botón tiene la clase 'active' */
}
