/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
}

/* Header */
header {
  background: linear-gradient(to right,#435298, #142983, #0e1c53, #010552);
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  height: 40px;
}
.menu {
  margin-left: auto;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.menu ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  height: 100%;
}
.menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.special-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.special-button:hover {
  background: linear-gradient(to right,#435298, #0e1c53, #142983, #010552);
  transform: scale(1.05);
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
}
.background-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  z-index: 1;
}
.camera-image {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -400px;
}
.centered-camera {
  width: 800px;
  height: auto;
  border-radius: 20px;
}
.logo-container {
  text-align: center;
  margin-top: -270px;
  position: relative;
}
.centered-logo {
  width: 500px;
  height: 175px;
  margin: 0 auto; 
}
.logo-subtext {
  font-size: 20px;
  color: #333;
  position: absolute;
  top: 100%; /* Posiciona justo debajo del logo */
  left: 60%;
  transform: translate(-10%, -250%); /* Centra horizontalmente y ajusta verticalmente */
}

/* Footer */
.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #013a72;
  color: white;
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
}
