/*Reinicio Basico */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/* Configuración del encabezado */
header {
    position: relative;
    height: 100vh; /* Altura completa del viewport */
    width: 100%; /* Ancho completo */
    overflow: hidden;
  }

/*Estilo del video de fondo */
.background-video-VerMax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px; /* Ajusta la altura según el tamaño del título */
    object-fit: cover;
    z-index: -1; /* Detras del contenido */
    opacity: 0.95; /*Sombrado ligero*/
}

/* Contenido dentro del encabezado */
.header-content {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 box-sizing: border-box;   
}
/* Estilo al logo  */
.logo{
    font-size: 2em;
    font-weight: bold;
}

/* Darle estilo a la palabra Login */
.login a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
}

.login a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}




@keyframes mover-fondo {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: start; /* Alinea a la izquierda */
    gap: 20px; /* Espaciado entre elementos */
}

.Concepto {
    border-radius: 20px;
    margin: 10px;
    width: 50%; /* Ajusta el tamaño si es necesario */
}
        background-position: 100% 50%;
    }
}
